

.container{
    border: 3px solid rgb(155, 155, 255);
    background-color: black;
    width: 1000px;
    height: 500px;
    margin: auto;    
}

.divUm{
        background-color: blueviolet;
        height: 500px;
        width: 500px;

}

.divDois{
    background-color: blue;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
